@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Work Sans;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 240px;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: 44px 0px;
    gap: 20px;
}

.nav-logo h2 {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.font {
    color: #FF42A5;
}

.anchor {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-anc {
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.youtube {
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 16px 24px;
}

.first-sec {
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.img-container {
    padding-right: 240px;

}

.sec-text {
    padding-left: 240px;
}

.sec-text h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.sec-text h1 {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-text p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding-top: 17px;
}

.button1 {
    margin-top: 40px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
}

.btn1 {
    background-color: #FF42A5;
    margin-right: 24px;
}

.btn2 {
    background-color: #4EC5F7;
}

.game-img {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 30px 0px;
}

.game {
    width: 342px;
    text-align: left;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    position: relative;

}

.teans-play {
    position: absolute;
    width: 99%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 2px solid red;
    height: 88.5%;
    top: 0;
    background-color: rgba(128, 128, 128, 0.5);
    gap: 30px;
    border: 5px solid #FF42A5;
    border-radius: 16px;
    opacity: 0;
}
.game:hover .teans-play{
opacity: 1;
}

.shadow {
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
}

.second {
    text-align: center;
    margin-top: 70px;
}

.second h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}

.second>p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;
}

.gimg {
    border-radius: 16px;
}

.sec2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 240px;
    margin-top: 100px;
}

.imageg {
    position: relative;
}

.img66 {
    position: absolute;
    top: 400px;
    right: 470px;
}

.sec2text {
    padding-left: 420px;
    text-align: right;
    width: 353px;
}

.sec2text h3 {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}

.sec2text p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.button-section {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 200px 250px;
    align-items: center;
    justify-content: center;
}

.btn9 {
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 10px;
    border-radius: 40px;
    background-color: white;
    border: none;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;

}

.img9 {
    padding-right: 11px;
    width: 30px;
}

.btn9:hover {
    border: 2px solid #FF42A5;
    color: #FF42A5;
}

.footl {
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #0B0223;
}

.foot-list {
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.foot-l {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 60px;
}

.amer {
    color: white;
}

.logo6 {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 60px;
}

.fot-text {
    color: #FFF;
}

.fot-p {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 60px;
}

.small {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 120px;
}

.color-text {
    color: #F948B2;
}